* {
    box-sizing: border-box;
}

html,
body,
#root {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("assets/images/rose-bg.jpg");
    background-size:cover;
    background-position: center;
    /* background-repeat:inherit; */
}

a {
    display: none;
}

.center {
    margin-right: 10%;
    margin-left: 10%;
    width: 40vw;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 45vh;
}
.formCard {
    color: #fff;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}
.blurLogin {
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5vh;
    width: 80%;
    height: 12%;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    text-decoration: none;
    margin-top: 3vh;
}

.blurLoginFocus:focus {
    background: rgba(255, 255, 255, 0.8);
    outline: none;
}

.bigboi{
    font-size: 200px;
}

.navBtn {
    background: rgba(255, 255, 255, 0.4);
    font-size: 22px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    text-decoration: none;
}

.blurBtn:hover {
    transition: all .7s ease;
    -webkit-transition: all .7s ease;
    background: rgba(255, 255, 255, 0.7);
}


.blurNav {
    background: rgba(255, 255, 255, 0.4);
    background-color: rgba(46, 214, 138, 0.5);
    position: fixed;
    width: 100%;
    z-index: 9000;
}

img {
    border-radius: 15px 15px 15px 15px;
   
}

#imgDiv {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10%;
}

.chart {
    width: 80vw;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);

}