* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: rgba(46, 214, 138, 1); */
    background-image: url("assets/images/rose-bg.jpg");
    background-size:cover;
    background-position: center;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.blurBtn {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 25%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    margin: 5px;
    text-decoration: none;
}

.blurNav {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.blurBtn:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 25%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    margin: 5px;
}

img {
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 8px;
}